<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #chat-messages{
        height: 240px;
        overflow-y: scroll;

        scroll-behavior: smooth;
        }
        .message_text{
            border-radius: 10px;
            background: #ececec;
            padding: 4px 15px;
            margin-top:5px;
        }
    </style>
</head>
<body>


{% block mycss %}
{% endblock %}
{% block context %}
{% endblock %}

{% block myjs %}
{% endblock %}
<script>

</script>
</body>
</html>